* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: #FFFF02;
}

button {
    cursor: pointer;
}

button:hover {
    color: #FFFF02;
}

.mainBody {
    font-family: 'Segoe UI', serif;
    font-weight: 400;
    font-size: 16px;

    background: url("../assets/background.png") no-repeat;
    background-size: cover;
}

.container {
    height: 100%;
}

.cookies {
    height: 67px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;

    background: #282828;
    border-radius: 0;
}

.cookiesText {
    color: #FFF;
}

.cookiesButton {
    width: 105px;
    height: 35px;

    color: #0B0B0B;
    background: #FFFF02;
    border-radius: 50px;
    border: none;
}

.cookiesButton:hover {
    color: #0B0B0B;
    background: #FFF;
}

.menu {
    position: sticky;
    top: 0;

    height: 61px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;

    background: #0B0B0B;
}

.menuElement {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFF;

    background-color: #FFFFFF00;
    border: none;
}

.socialButton {
    color: #FFF;
    border: none;
    border-radius: 5px;
}

.socialButton:hover {
    background-color: #FFFF02;
}

.descriptionContainer {
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    margin: auto 0;
    padding: 0 25px;

    text-align: center;
    font-size: 32px;
    line-height: 60px;
    color: #FFF;
}

.authorSign {
    display: flex;
    align-items: baseline;
    justify-content: left;
    padding: 25px;

    line-height: 22px;
    text-align: center;
    color: #FFF;
}